* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000000;
    display: flex;
    justify-content:center;
    padding: 10px 20px;
  }
  
  header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  header nav {
    display: flex;
    align-items: center;
  }
  
  header nav ul {
    display: flex;
    align-items: center;
    justify-content:center ;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header nav ul li {
    margin-right: 20px;
    font-size: 25px;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .peregraph {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .Boxfirst button,
  .Boxsecond button {
    display: flex;
    background-color:blue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 20px;
  }
  .button button{
    text-align: center;
    background-color: blue;
    color: aliceblue;
    border-radius: 12px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .downultraedit {
    font-size:18px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .Boxfirst,
  .Boxsecond {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  
  .box1,
  .box2,
  .box3,
  .box4 {
    text-align: center;
    background-color: #000000;
    color: white;
    border-radius: 12px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer .footerheading {
    margin-bottom: 30px;
  }
  
  footer form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  footer label {
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    
    header nav {
      position: relative;
    }
  
    header nav ul {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #050505;
      color: aliceblue;
      flex-direction:column;
      display: none;
    }
  
    header nav ul li {
      margin: 0;
    }
  
    header nav ul.show{
      display: flex;
    }
  
    header nav a {
      padding: 10px;
    }
  }